<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS's/AgroMerc.css">
    <title>AgroMerc</title>
</head>
<body>
    <header>
        <div style="text-align: left;">
            <img src="CSS's/Agromerc.jpg"  width="400">
        </div>
        <section>
            <div class="conte">
                <p>
                    
                </p>
            </div>
        </section>
    </header>
    <footer>
        <div class="nombres">
            <h1>Juan Jose Gabriel Cañón Díaz</h1>
        </div>
    </footer>
</body>
</html>