<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS's/signIn.css">
    <title>Sign In</title>
</head>
<body>
    <header>
        <img src="CSS's/AgroMerc.jpg" alt="" width="300">
    </header>
    <div class="registro">
        <h1>Por favor inicie sesión para acceder</h1>
        <form action="iniciarSesion" method="post">
            <label>Nombre de Usuario</label> <input type="text" name="nameUser"><br>
            <label>Contraseña</label><input type="password" name="password"><br>
            <input type="submit" value="Iniciar Sesión"><br><br>
            
            <Label>¿No posee una cuenta en AgroMerc?</Label><a href="/signUp">Registrarse</a> <br>
        </form>
    </div>
</body>
</html>